* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Georgia, Arial, sans-serif;
    font-size: 13px;
    color: #333;
}

a:link,
a:visited,
a:hover {
    color: #43aa95;
    text-decoration: none;
}

.header {
    margin: 0 auto;
    text-align: center;
    padding: 2.5em 2em;
    background: linear-gradient(45deg, rgba(1, 142, 170, 1) 0%, #43aa95 100%);
    box-shadow: 0 0 6px #ddd;
    color: #fff;
    overflow: hidden;
}

.title {
    margin: 0 auto 1em;
    line-height: 40px;
    font-size: 2.6em;
    overflow: hidden;
}

.download:link,
.download:visited,
.download:hover {
    display: inline-block;
    border: 1px solid #fff;
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    line-height: 24px;
    padding: 5px 15px;
}


.download:hover {
    border-color: #43aa95;
    background-color: #f7f8f9;
    color: #01aa95;
}

.project {
    margin: 0 auto;
    width: 960px;
    text-align: right;
    padding-top: 1em;
    overflow: hidden;
}

.container {
    margin: 1em auto 0;
    width: 960px;
    padding: 2em;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px #eee;
    overflow: hidden;
}

.controls {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    height: 36px;
    padding-bottom: 2em;
    border-bottom: 1px solid #e3f0f9;
    overflow: hidden;
}

.label {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 80px;
    margin: 0;
    height: 36px;
    line-height: 36px;
    color: #999;
    background-color: #f7f8f9;
    text-align: right;
    overflow: hidden;
}

.field {
    margin: 0 100px 0 80px;
    height: 36px;
    box-sizing: border-box;
    overflow: hidden;
}

.input {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #f7f8f9;
    outline: none;
}

.button {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: #43aa95;
    color: #fff;
    overflow: hidden;
}

.button:hover {
    background-color: #01aa95;
}

.content {
    margin: 2em auto 0;
    height: 300px;
    border: 1px solid #e3f0f9;
    padding: 1em;
    overflow: hidden;
}

.textarea {
    margin: 0;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    line-height: 150%;
    color: #999;
    font-family: Georgia, Arial, sans-serif;
    overflow: hidden;
}

.footer {
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .project {
        width: 800px;
    }

    .container {
        width: 800px;
    }
}

@media screen and (max-width: 860px) {
    .project {
        width: 720px;
    }

    .container {
        width: 720px;
    }
}

@media screen and (max-width: 780px) {
    .project {
        width: 640px;
    }

    .container {
        width: 640px;
    }
}

@media screen and (max-width: 680px) {
    .project {
        padding: 1em 1em 0;
        width: auto;
    }

    .container {
        margin: 1em;
        padding: 1em;
        width: auto;
    }

    .controls {
        padding-bottom: 1em;
    }

    .content {
        margin-top: 1em;
    }

    .footer {
        padding: 0 0 1em;
    }
}

@media screen and (max-width: 680px) {
    .project {
        width: auto;
    }

    .container {
        margin: 1em;
        padding: 1em;
        width: auto;
    }

    .controls {
        padding-bottom: 1em;
    }

    .content {
        margin-top: 1em;
    }

    .footer {
        padding: 0 0 1em;
    }
}
